</div>

<footer class="text-center mt-5 mb-4">
    <p id="footer-text" class="h5"></p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    const currentYear = new Date().getFullYear();
    const yourName = "Iago Teles"; 

    document.getElementById("footer-text").innerText = `${yourName} - ${currentYear}`;
</script>

</body>
</html>
